* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

button:focus {
  outline: 0; }

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.4em; }

.container {
  padding: 0 2vw;
  margin: 0 auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 740px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1180px; } }

#overlay {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200; }

.header {
  display: flex;
  justify-content: space-between;
  height: 4em;
  line-height: 4em; }
  @media (min-width: 992px) {
    .header {
      height: 6em;
      line-height: 6em; } }
  .header h1 {
    font-size: 1.4em; }
  .header h1 a {
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    padding: 0.2em 0.5em;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400; }
  .header__icons a {
    color: #868995;
    margin: 0 0.2em; }
    .header__icons a:hover {
      color: #3d3f45; }
  .header__icons a:last-child {
    margin-left: 1.5rem;
    padding: 0.5rem 1rem;
    border-left: 1px solid #f0f0f0; }
    .header__icons a:last-child i {
      margin-right: 0.5rem; }
  @media (min-width: 992px) {
    .header__icons button {
      display: none; } }
  .header__icons .bag {
    position: relative; }
    .header__icons .bag span {
      position: absolute;
      top: -10px;
      right: -15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      color: #fff;
      font-size: 12px;
      background: #ee4266; }
  .header__icons button {
    margin-left: 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1em;
    color: #868995; }
    .header__icons button:hover {
      color: #3d3f45; }
  .header__navbar {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    width: 35%;
    background-color: #fff;
    display: none;
    z-index: 400; }
    .header__navbar ul {
      margin: 1rem 0; }
    .header__navbar a {
      color: rgba(0, 0, 0, 0.7);
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1rem 2rem;
      line-height: 1rem;
      font-size: 0.8em;
      display: block; }
      .header__navbar a:hover, .header__navbar a.actived {
        color: #ee4266; }
    .header__navbar .dropdown {
      display: none; }
    @media (min-width: 992px) {
      .header__navbar {
        position: static;
        display: block;
        width: auto; }
        .header__navbar ul {
          display: flex;
          margin: 0; }
        .header__navbar a {
          padding: 1rem 0.5rem;
          display: inline-block; } }

.banner {
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 3em;
  margin-bottom: 1em; }
  .banner__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    overflow: hidden; }
  .banner__img {
    max-height: 600px; }
    @media (min-width: 768px) {
      .banner__img {
        order: 1;
        max-height: 700px; } }
    .banner__img img {
      max-width: 100%; }
  .banner__img-shop {
    max-height: 300px; }
    @media (min-width: 768px) {
      .banner__img-shop {
        order: 1;
        max-height: 500px; } }
    .banner__img-shop img {
      max-width: 100%; }
  .banner__content {
    text-transform: uppercase;
    align-self: center; }
    @media (min-width: 768px) {
      .banner__content {
        order: 2; } }
    .banner__content h1 {
      color: #000;
      font-size: 3em;
      margin-bottom: 0.5em;
      line-height: 1.4em; }
    .banner__content h2 {
      font-size: 1em;
      color: rgba(0, 0, 0, 0.6); }
    .banner__content a {
      color: #fff;
      font-size: 0.8em;
      padding: 1em 2em;
      background-color: #000; }

.page {
  border-bottom: 1px solid #f9f9f9;
  padding-bottom: 1em; }
  .page.page-check {
    padding-top: 1em;
    background-color: #f9f9f9;
    border-bottom: none; }
  .page a {
    color: #ee4266; }
  .page span {
    margin: 0 0.5em; }

.title {
  margin: 3em 0;
  padding-left: 1em;
  border-left: 4px solid #ee4266; }
  .title h2 {
    color: #000;
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 400; }
  .title span {
    display: block; }

.discover {
  padding-bottom: 4em; }
  .discover__container {
    display: grid;
    grid-gap: 1.5em; }
    @media (min-width: 768px) {
      .discover__container {
        grid-template-columns: 2fr 1fr; } }
  .discover__itens {
    background-color: #f9f9f9;
    max-height: 290px;
    overflow: hidden;
    position: relative;
    text-align: center; }
    .discover__itens:nth-child(2) {
      margin-top: 20px; }
    .discover__itens a {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #000;
      background-color: #fff;
      padding: 1em 2em;
      transform: translate(-50%, -50%);
      transition: .2s ease-in-out; }
      .discover__itens a small {
        color: #ced4da;
        font-size: 0.7em;
        margin-left: 5px; }
      .discover__itens a:hover {
        color: #fff;
        background-color: #000; }
  @media (min-width: 768px) {
    .discover__women {
      max-height: 600px; }
      .discover__women img {
        max-width: 300px;
        margin-top: 4em; } }

.popular, .rated, .shop {
  padding-bottom: 4em; }
  .popular__container, .rated__container, .shop__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em; }
    .popular__container h2, .rated__container h2, .shop__container h2 {
      font-size: 1.1em;
      color: rgba(0, 0, 0, 0.7);
      font-weight: 400;
      margin-top: 1em; }
    .popular__container p, .rated__container p, .shop__container p {
      font-size: 0.9em;
      font-weight: bold;
      color: #000;
      margin: 0.2em 0; }
      .popular__container p span, .rated__container p span, .shop__container p span {
        margin-right: 0.5em;
        text-decoration: line-through;
        color: #ccc; }
    .popular__container i, .rated__container i, .shop__container i {
      font-size: 0.7em;
      color: #ffc107; }
  .popular__itens a, .rated__itens a, .shop__itens a {
    overflow: hidden;
    position: relative;
    height: 400px;
    display: block;
    background-color: #f9f9f9; }
  .popular__itens img, .rated__itens img, .shop__itens img {
    max-width: 300px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%); }

.rated {
  overflow: hidden;
  position: relative; }
  .rated__container {
    width: 500%;
    display: block;
    position: relative;
    left: 0;
    padding-bottom: 4em; }
  .rated__itens {
    width: 18%;
    float: left;
    margin: 0 1%; }
    @media (min-width: 992px) {
      .rated__itens {
        width: 8.5%; } }
  .rated__btn {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, 0); }
    .rated__btn button {
      font-size: 1.6em;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0 0.5em;
      padding: 1em; }

.footer__container {
  display: grid;
  grid-gap: 2em; }
  @media (min-width: 768px) {
    .footer__container {
      grid-template-columns: 1fr 2fr 1fr; } }
  .footer__container h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 2em;
    font-weight: 400; }
.footer__content img {
  border-radius: 10px; }
.footer__content a h3 {
  margin-top: 1em;
  margin-bottom: 0;
  letter-spacing: 0;
  color: #ee4266;
  text-transform: capitalize;
  font-size: 1.1em; }
.footer__content a p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7); }
.footer__links li {
  margin: 1em 0; }
  .footer__links li a {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9em; }
    .footer__links li a:hover {
      color: #ee4266; }
.footer__links__grid {
  display: grid; }
  @media (min-width: 768px) {
    .footer__links__grid {
      grid-template-columns: repeat(3, 1fr); }
      .footer__links__grid ul {
        text-align: center; } }
.footer__contact div {
  margin: 1em 0; }
.footer__contact i {
  color: #ee4266;
  margin-right: 1em; }
.footer__contact address {
  display: inline-block;
  font-size: 0.9em; }
.footer__contact__form {
  position: relative; }
  .footer__contact__form input[type=email] {
    width: 100%;
    padding: 0.8em 0.5em;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1.1em; }
  .footer__contact__form input[type=submit] {
    position: absolute;
    padding: 1em 2em;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ee4266;
    border: 1px solid #ee4266;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer; }
.footer__copy {
  text-align: center;
  margin: 5em 0; }

/*----------Shop style----------*/
.shop {
  display: grid;
  grid-column-gap: 2em;
  margin-top: 3em;
  margin-bottom: 3em; }
  @media (min-width: 992px) {
    .shop {
      grid-template-columns: 2fr 1fr; } }
  .shop__product h3 {
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 1px;
    align-self: center; }
  .shop__product__filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 1em;
    padding: 1.5em 0;
    line-height: 1.5em;
    margin-bottom: 2em; }
    @media (min-width: 992px) {
      .shop__product__filter div {
        justify-self: end; } }
    .shop__product__filter div select {
      padding: 1em 0.5em;
      background-color: #f0f0f0;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-transform: uppercase; }
  .shop__product__btn {
    text-align: center;
    padding: 1em 0;
    margin-top: 2em; }
    .shop__product__btn a {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: #ee4266;
      border: 1px solid #ddd;
      position: relative; }
      .shop__product__btn a:hover, .shop__product__btn a.actived {
        background-color: #ee4266;
        border: 1px solid #ee4266;
        color: #fff; }
      .shop__product__btn a span {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%); }
  .shop__filter__itens {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-bottom: 3em;
    padding: 1em 2em; }
    .shop__filter__itens h3 {
      text-transform: uppercase;
      margin: 1em 0;
      font-size: 1em;
      color: rgba(0, 0, 0, 0.6); }
    .shop__filter__itens ul a {
      position: relative;
      color: #ee4266;
      display: block;
      padding: 0.3em 0;
      margin: 0.3em 0; }
      .shop__filter__itens ul a span {
        position: absolute;
        right: 0; }
    .shop__filter__itens label {
      display: block; }
    .shop__filter__itens input[type=number] {
      padding: 0.5em;
      width: 25%; }
      .shop__filter__itens input[type=number]:focus {
        outline: 1px solid #ee4266; }
    .shop__filter__itens input[type=checkbox] {
      margin: 1em 0.5em 1em 0; }
  .shop__filter__color a {
    display: block;
    margin: 1em 0;
    color: #000; }
    .shop__filter__color a span:first-child {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: inline-block; }

/*----------Contact style----------*/
.banner-contact {
  background: url(../images/about_1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  margin-bottom: 1em; }

.contact {
  margin-top: 5em;
  margin-bottom: 5em; }
  .contact h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin: 1em 0; }
  .contact__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em; }
    @media (min-width: 992px) {
      .contact__container {
        grid-template-columns: 3fr 2fr; } }
  .contact__form {
    padding: 1em 1.5em;
    border: 1px solid #f0f0f0; }
    @media (min-width: 992px) {
      .contact__form {
        padding: 1.5em 2.5em; } }
    .contact__form label {
      display: block;
      margin: 1em 0;
      color: rgba(0, 0, 0, 0.7); }
      .contact__form label span {
        color: #f00;
        margin-left: 0.2em; }
    .contact__form__name {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-column-gap: 1em; }
    .contact__form input, .contact__form textarea, .contact__form button {
      width: 100%;
      padding: 0.7em;
      border: 1px solid #f0f0f0;
      border-radius: 5px; }
    .contact__form button {
      margin-top: 1em;
      background-color: #ee4266;
      color: #fff;
      text-transform: uppercase;
      padding: 1em 0; }
  .contact__address div {
    padding: 1em 1.5em;
    border: 1px solid #f0f0f0;
    margin-bottom: 1em; }
  .contact__address h3 {
    color: #ee4266;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.9em; }
  .contact__address address {
    margin: 1em 0;
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
    font-size: 0.9em; }

/*----------About style----------*/
.about {
  margin-top: 4em;
  margin-bottom: 6em; }
  .about__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2em;
    margin-bottom: 4em; }
    .about__content i {
      color: #ee4266;
      margin-bottom: 0.8em; }
    .about__content h3 {
      margin-bottom: 0.8em;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1em; }
    .about__content p {
      color: #8c92a0; }
    .about__content__itens {
      display: grid; }
      @media (min-width: 992px) {
        .about__content__itens {
          grid-template-columns: 1fr 4fr; } }
  .about__start {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em 5em; }
    .about__start img {
      border-radius: 5px; }
    .about__start h2 {
      font-weight: 400;
      font-size: 1.8em;
      text-transform: capitalize;
      margin-bottom: 1.5em; }
    .about__start p {
      margin-bottom: 1em;
      color: #8c92a0; }

.team {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 5em; }
  .team h2 {
    font-weight: 400;
    margin-bottom: 2em;
    font-size: 1.8em; }
  .team__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em; }
    .team__container img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-bottom: 1em; }
    .team__container h3 {
      font-weight: 400;
      font-size: 1.4em;
      margin-bottom: 0.4em; }
    .team__container span {
      color: #ccc; }
    .team__container p {
      margin: 1em 0;
      color: #8c92a0;
      font-size: 0.9em; }

/*----------Checkout style----------*/
.checkout {
  margin-bottom: 4em;
  margin-top: 3em; }
  .checkout__return {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 1.5em 2em;
    margin-bottom: 3em; }
    .checkout__return p {
      color: #8c92a0; }
    .checkout__return a {
      color: #ee4266; }
  .checkout__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1.5em; }
    .checkout__container h3 {
      font-weight: 400;
      font-size: 1.4em;
      letter-spacing: 0.5px; }
  .checkout__itens {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 1.5em 2em;
    margin: 1em 0; }
    .checkout__itens label {
      display: block;
      margin: 1em 0;
      color: rgba(0, 0, 0, 0.7); }
      .checkout__itens label span {
        color: #f00;
        margin-left: 0.2em; }
    .checkout__itens__name {
      display: grid;
      grid-column-gap: 1em; }
      @media (min-width: 992px) {
        .checkout__itens__name {
          grid-template-columns: 1fr 1fr; } }
    .checkout__itens input, .checkout__itens textarea, .checkout__itens select {
      width: 100%;
      padding: 0.7em;
      border: 1px solid #dee2e6;
      border-radius: 5px; }
    .checkout__itens textarea {
      resize: none; }
    .checkout__itens .code {
      position: relative;
      margin-top: 1em; }
      .checkout__itens .code button {
        position: absolute;
        right: 0;
        background-color: #ee4266;
        color: #fff;
        padding: 0.7em 1.5em;
        border: 1px solid #ee4266;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        text-transform: uppercase;
        cursor: pointer; }
    .checkout__itens.table table {
      width: 100%;
      border-collapse: collapse; }
      .checkout__itens.table table th, .checkout__itens.table table td {
        text-align: left;
        padding: 0.8em 0; }
      .checkout__itens.table table td {
        border-top: 1px solid #dee2e6; }
      .checkout__itens.table table tr:last-child {
        font-weight: bold; }
    .checkout__itens.table div a {
      display: block;
      color: #ee4266;
      padding: 1em 1.2em;
      text-transform: capitalize;
      border: 1px solid #dee2e6;
      margin: 2em 0; }
      .checkout__itens.table div a:hover {
        color: #ef4266; }
    .checkout__itens.table button {
      width: 100%;
      color: #fff;
      text-transform: uppercase;
      padding: 1em 0;
      background-color: #ee4266;
      border: none;
      border-radius: 5px; }

/*----------Cart style----------*/
.cart {
  margin-top: 3rem;
  margin-bottom: 6rem; }
  .cart__table {
    overflow-x: auto; }
    .cart__table table {
      border-collapse: collapse;
      width: 100%;
      margin: 1em 0;
      text-align: center; }
      .cart__table table img {
        max-width: 150px; }
      .cart__table table th, .cart__table table td {
        padding: 1.5em;
        border: 1px solid #dee2e6;
        text-align: center; }
      .cart__table table a {
        display: inline-block;
        padding: 0.2em 0.5em;
        color: #fff;
        background-color: #ee4266;
        border-radius: 2px; }
        .cart__table table a:hover {
          background-color: #ef4266; }
      .cart__table table .table-btn {
        position: relative;
        max-width: 120px;
        left: 50%;
        transform: translateX(-50%); }
        .cart__table table .table-btn button {
          border: 1px solid #ee4266;
          color: #ee4266;
          background-color: #fff;
          cursor: pointer;
          transition: .2s ease-in-out;
          position: absolute;
          top: 0;
          bottom: 0;
          padding: 0 1em; }
          .cart__table table .table-btn button:hover {
            color: #fff;
            background-color: #ee4266; }
        .cart__table table .table-btn button:first-child {
          left: 0; }
        .cart__table table .table-btn button:last-child {
          right: 0; }
        .cart__table table .table-btn input {
          padding: 1em;
          text-align: center;
          max-width: 120px;
          border: 1px solid #dee2e6; }
  .cart__total {
    display: grid;
    grid-gap: 1em 5em;
    margin: 2em 0; }
    @media (min-width: 992px) {
      .cart__total {
        grid-template-columns: 3fr 2fr; } }
    .cart__total h3 {
      font-weight: 400;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .cart__total button, .cart__total a {
      background-color: #ee4266;
      color: #fff;
      padding: 1rem;
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 0.8rem;
      cursor: pointer;
      transition: .2s ease-in-out;
      border: 1px solid #ee4266; }
      .cart__total button:hover, .cart__total a:hover {
        background-color: #ef4266; }
    .cart__total .total-btn {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 1em;
      margin-bottom: 2em; }
      .cart__total .total-btn button:last-child {
        background-color: #fff;
        color: #ee4266; }
        .cart__total .total-btn button:last-child:hover {
          background-color: #ee4266;
          color: #fff; }
    .cart__total .total-coupon p {
      color: #8c92a0; }
    .cart__total .total-coupon input {
      width: 100%;
      padding: 1em;
      border: 1px solid #dee2e6;
      border-radius: 5px;
      margin: 1rem 0; }
    .cart__total .total-check h3 {
      text-align: right;
      border-bottom: 1px solid #ccc;
      padding: 1rem 0; }
    .cart__total .total-check p {
      margin: 2rem 0;
      position: relative; }
      .cart__total .total-check p span {
        position: absolute;
        right: 0; }
    .cart__total .total-check a {
      display: block;
      margin: 1rem 0; }

/*----------Login/Register style----------*/
.login {
  margin-top: 5rem;
  margin-bottom: 5rem; }
  @media (min-width: 992px) {
    .login {
      width: 650px; } }
  .login h2 {
    text-align: center;
    font-size: 1.8rem;
    margin: 2rem 0; }
  .login label {
    display: block;
    margin: 1rem 0; }
  .login input {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #dee2e6; }
  .login input[type=checkbox] {
    width: auto;
    margin-right: 0.5rem; }
  .login div {
    margin: 1.5rem 0;
    display: flex;
    justify-content: space-between; }
    .login div a {
      color: #000;
      margin: 1rem 0; }
  .login__sign {
    width: 100%;
    display: block;
    text-align: center;
    padding: 1rem;
    background-color: #ee4266;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 2rem; }
  .login__link {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    display: block;
    margin: 1.5rem 0;
    color: #000; }

/*# sourceMappingURL=style.css.map */
