* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

button:focus {
  outline: 0; }

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #8c92a0;
  line-height: 1.4em; }

.container {
  padding: 0 2vw;
  margin: 0 auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 550px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 750px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 980px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1180px; } }

.header {
  display: flex;
  justify-content: space-between;
  height: 4em;
  line-height: 4em; }
  @media (min-width: 992px) {
    .header {
      height: 6em;
      line-height: 6em; } }
  .header h1 {
    font-size: 1.4em; }
  .header h1 a {
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    padding: 0.2em 0.5em;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400; }
  .header__icons a {
    color: #868995;
    margin: 0 0.2em; }
    .header__icons a:hover {
      color: #3d3f45; }
  @media (min-width: 992px) {
    .header__icons button {
      display: none; } }
  .header__icons .bag {
    position: relative; }
    .header__icons .bag span {
      position: absolute;
      top: -10px;
      right: -15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      line-height: 20px;
      text-align: center;
      color: #fff;
      font-size: 12px;
      background: #ee4266; }
  .header__icons button {
    margin-left: 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1em;
    color: #868995; }
    .header__icons button:hover {
      color: #3d3f45; }
  .header__navbar {
    display: none; }
    @media (min-width: 992px) {
      .header__navbar {
        display: block; } }
    .header__navbar a {
      color: rgba(0, 0, 0, 0.7);
      text-transform: uppercase;
      margin: 0 0.2em;
      letter-spacing: 1px;
      padding: 0.5em;
      font-size: 0.8em; }
      .header__navbar a:hover, .header__navbar a.actived {
        color: #ee4266; }
    .header__navbar .dropdown {
      display: none; }
    .header__navbar ul {
      display: flex; }

.banner {
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 3em; }
  .banner__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    overflow: hidden; }
  .banner__img {
    max-height: 600px; }
    @media (min-width: 768px) {
      .banner__img {
        order: 1;
        max-height: 700px; } }
    .banner__img img {
      max-width: 100%; }
  .banner__content {
    text-transform: uppercase;
    align-self: center; }
    @media (min-width: 768px) {
      .banner__content {
        order: 2; } }
    .banner__content h1 {
      color: #000;
      font-size: 3em;
      margin-bottom: 0.5em;
      line-height: 1.4em; }
    .banner__content h2 {
      font-size: 1em;
      color: rgba(0, 0, 0, 0.6); }
    .banner__content a {
      color: #fff;
      font-size: 0.8em;
      padding: 1em 2em;
      background-color: #000; }

.title {
  margin: 3em 0;
  padding-left: 1em;
  border-left: 4px solid #ee4266; }
  .title h2 {
    color: #000;
    font-size: 2em;
    letter-spacing: 1px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 400; }
  .title span {
    display: block; }

.discover {
  padding: 3em 0; }
  .discover__container {
    display: grid;
    grid-gap: 1.5em; }
    @media (min-width: 768px) {
      .discover__container {
        grid-template-columns: 2fr 1fr; } }
  .discover__itens {
    background-color: #f9f9f9;
    max-height: 290px;
    overflow: hidden;
    position: relative;
    text-align: center; }
    .discover__itens:nth-child(2) {
      margin-top: 20px; }
    .discover__itens a {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #000;
      background-color: #fff;
      padding: 1em 2em;
      transform: translate(-50%, -50%);
      transition: .2s ease-in-out; }
      .discover__itens a small {
        color: #ced4da;
        font-size: 0.7em;
        margin-left: 5px; }
      .discover__itens a:hover {
        color: #fff;
        background-color: #000; }
  @media (min-width: 768px) {
    .discover__women {
      max-height: 600px; }
      .discover__women img {
        max-width: 300px;
        margin-top: 4em; } }

/*# sourceMappingURL=style.css.map */
