* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

img {
	width: 100%;
}

button:focus {
	outline: 0;
}

body {
	font-family: "Helvetica Neue", Arial, sans-serif;
	line-height: 1.4em;
}

$color-primary: #ee4266;