@import "_site-base";

.container {
	padding: 0 2vw;
	margin: 0 auto;

	@media (min-width: 576px) {
		max-width: 540px;
	}
	@media (min-width: 768px) {
		max-width: 740px;
	}
	@media (min-width: 992px) {
		max-width: 960px;
	}
	@media (min-width: 1200px) {
		max-width: 1180px;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	height: 4em;
	line-height: 4em;

	@media (min-width: 992px) {
		height: 6em;
		line-height: 6em;
	}

	h1 {
		font-size: 1.4em;
	}

	h1 a {
		text-transform: uppercase;
		letter-spacing: 2px;
		border: 2px solid rgba(0,0,0,0.7);
		padding: 0.2em 0.5em;
		color: rgba(0,0,0,0.5);
		font-weight: 400;
	}

	&__icons {
		a{
			color: #868995;
			margin: 0 0.2em;

			&:hover {
				color: #3d3f45;
			}
		}

		@media (min-width: 992px) {
			button {
				display: none;
			}
		}
		.bag {
			position: relative;

			span {
				position: absolute;
				top: -10px;
				right: -15px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				line-height: 20px;
				text-align: center;
				color: #fff;
				font-size: 12px;
				background: $color-primary;
			}
		}

		button {
			margin-left: 1.5em;
			border: none;
			background-color: transparent;
			cursor: pointer;
			font-size: 1.1em;
			color: #868995;

			&:hover {
				color: #3d3f45;
			}
		}
	}
	
	&__navbar {
		display: none;

		@media (min-width: 992px) {
			display: block;
		}

		a {
			color: rgba(0,0,0,0.7);
			text-transform: uppercase;
			margin: 0 0.2em;
			letter-spacing: 1px;
			padding: 0.5em;
			font-size: 0.8em;

			&:hover, &.actived  {
				color: $color-primary;
			}
		}

		.dropdown {
			display: none;
		}

		ul {
			display: flex;
		}
	}
}

.banner {
	background-color: #f9f9f9;
	text-align: center;	
	padding-top: 3em;	
	margin-bottom: 1em;

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 2em;
		overflow: hidden;
	}

	&__img {
		max-height: 600px;

		@media (min-width: 768px) {
			order: 1;
			max-height: 700px;
		}

		img {
			max-width: 100%;
		}
	}

	&__img-shop {
		max-height: 300px;

		@media (min-width: 768px) {
			order: 1;
			max-height: 500px;
		}

		img {
			max-width: 100%;
		}
	}

	&__content {
		text-transform: uppercase;
		align-self: center;	

		@media (min-width: 768px) {
			order: 2;
		}

		h1 {
			color: #000;
			font-size: 3em;	
			margin-bottom: 0.5em;	
			line-height: 1.4em;	
		}

		h2 {
			font-size: 1em;
			color: rgba(0,0,0,0.6);
		}

		a {
			color: #fff;
			font-size: 0.8em;
			padding: 1em 2em;
			background-color: #000;
		}
	}
}

.page {
	border-bottom: 1px solid #f9f9f9;
	padding-bottom: 1em;

	&.page-check {
		padding-top: 1em;
		background-color: #f9f9f9;
		border-bottom: none;
	}

	a {
		color: $color-primary;
	}

	span {
		margin: 0 0.5em;
	}
}

.title {
	margin: 3em 0;
	padding-left: 1em;
	border-left: 4px solid $color-primary;

	h2 {
		color: #000;
		font-size: 2em;
		letter-spacing: 1px;
		line-height: 1.2em;
		text-transform: uppercase;
		font-weight: 400;
	}

	span {
		display: block;
	}
}

.discover {
	padding-bottom: 4em;

	&__container {
		display: grid;
		grid-gap: 1.5em;

		@media (min-width: 768px) {
			grid-template-columns: 2fr 1fr;
		}
	}

	&__itens {
		background-color: #f9f9f9;
		max-height: 290px;
		overflow: hidden;
		position: relative;
		text-align: center;

		&:nth-child(2) {
			margin-top: 20px;
		}

		a {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #000;
			background-color: #fff;
			padding: 1em 2em;
			transform: translate(-50%, -50%);
			transition: .2s ease-in-out;

			small {
				color: #ced4da;
				font-size: 0.7em;
				margin-left: 5px;
			}

			&:hover {
				color: #fff;
				background-color: #000;
			}
		}
	}

	&__women {
		@media (min-width: 768px) {
			max-height: 600px;

			img {
				max-width: 300px;
				margin-top: 4em;
			}
		}
	}
}

.popular, .rated, .shop {
	padding-bottom: 4em;

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 2em;

		h2 {
			font-size: 1.1em;
			color: rgba(0,0,0,0.7);
			font-weight: 400;
			margin-top: 1em;
		}

		p {
			font-size: 0.9em;
			font-weight: bold;
			color: #000;
			margin: 0.2em 0;

			span {
				margin-right: 0.5em;
				text-decoration: line-through;
				color: #ccc;
			}
		}

		i {
			font-size: 0.7em;
			color: #ffc107;
		}
	}

	&__itens {
		a {
			overflow: hidden;
			position: relative;
			height: 400px;
			display: block;
			background-color: #f9f9f9;
		}

		img {	
			max-width: 300px;
			position: absolute;
			top: 15%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.rated {
	overflow: hidden;
	position: relative;

	&__container {
		width: 500%;
		display: block;
		position: relative;
		left: 0;
		padding-bottom: 4em;
	}

	&__itens {
		width: 18%;
		float: left;
		margin: 0 1%;

		@media (min-width: 992px) {
			width: 8.5%;
		}
	}

	&__btn {
		position: absolute;
		bottom: 1em;
		left: 50%;
		transform: translate(-50%, 0);

		button {
			font-size: 1.6em;
			background-color: transparent;
			border: none;
			cursor: pointer;
			margin: 0 0.5em;
			padding: 1em;
		}
	}
}

.footer {
	&__container {
		display: grid;
		grid-gap: 2em;

		@media (min-width: 768px) {
			grid-template-columns: 1fr 2fr 1fr;
		}

		h3 {
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 0.9em;
			color: rgba(0,0,0,0.7);
			margin-bottom: 2em;
			font-weight: 400;
		}
	}

	&__content {
		img {
			border-radius: 10px;
		}

		a {
			h3 {
				margin-top: 1em;
				margin-bottom: 0;
				letter-spacing: 0;
				color: $color-primary;
				text-transform: capitalize;
				font-size: 1.1em;
			}

			p {
				font-size: 0.9em;
				color: rgba(0,0,0,0.7);
			}
		}
	}

	&__links {	
		li {
			margin: 1em 0;

			a {
				color: rgba(0,0,0,0.7);
				font-size: 0.9em;

				&:hover {
					color: $color-primary;
				}
			}
		}

		&__grid {
			display: grid;
			
			@media (min-width: 768px) {
				grid-template-columns: repeat(3, 1fr);

				ul {

					text-align: center;
				}
			}
		}
	}

	&__contact {
		div {
			margin: 1em 0;
		}

		i {
			color: $color-primary;
			margin-right: 1em;
		}

		address {
			display: inline-block;
			font-size: 0.9em;
		}

		&__form {
			position: relative;

			input[type=email] {
				width: 100%;
				padding: 0.8em 0.5em;
				border-radius: 5px;
				border: 1px solid #ddd;
				font-size: 1.1em;
			}

			input[type=submit] {
				position: absolute;
				padding: 1em 2em;
				right: 5px;
				top: 50%;
				transform: translateY(-50%);
				background-color: $color-primary;
				border: 1px solid $color-primary;
				border-radius: 5px;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 1px;
				cursor: pointer;
			}
		}
	}

	&__copy {
		text-align: center;
		margin: 5em 0;
	}
}

/*----------Shop style----------*/
.shop {
	display: grid;
	grid-column-gap: 2em;
	margin-top: 3em;
	margin-bottom: 3em;

	@media (min-width: 992px) {
		grid-template-columns: 2fr 1fr;
	}

	&__product {
		h3 {
			font-weight: 400;
			font-size: 1.2em;
			letter-spacing: 1px;
			align-self: center;
		}
		
		&__filter {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			grid-row-gap: 1em;
			padding: 1.5em 0;
			line-height: 1.5em;
			margin-bottom: 2em;

			div {
				@media (min-width: 992px) {
					justify-self: end; 
				}
				
				select {
					padding: 1em 0.5em;
					background-color: #f0f0f0;
					border: none;
					border-radius: 5px;
					cursor: pointer;
					text-transform: uppercase;
				}
			}
		}	

		&__btn {
			text-align: center;
			padding: 1em 0;
			margin-top: 2em;

			a {
				display: inline-block;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				color: $color-primary;
				border: 1px solid #ddd;
				position: relative;

				&:hover, &.actived {
					background-color: $color-primary;
					border: 1px solid $color-primary;
					color: #fff;
				}

				span {
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	&__filter {
		&__itens {
			border: 1px solid #f0f0f0;
			border-radius: 5px;
			margin-bottom: 3em;
			padding: 1em 2em;

			h3 {
				text-transform: uppercase;
				margin: 1em 0;
				font-size: 1em;
				color: rgba(0,0,0,0.6);
			}

			ul a {
				position: relative;
				color: $color-primary;
				display: block;
				padding: 0.3em 0;
				margin: 0.3em 0;

				span {
					position: absolute;
					right: 0;
				}
			}

			label {
				display: block;
			}

			input[type=number] {
				padding: 0.5em;
				width: 25%;

				&:focus {
					outline: 1px solid $color-primary;
				}
			}

			input[type=checkbox] {
				margin: 1em 0.5em 1em 0;
			}
		}

		&__color {
			a {
				display: block;
				margin: 1em 0;
				color: #000;

				span:first-child {
					width: 12px;
					height: 12px;
					border-radius: 50%;
					display: inline-block;
				}
			}
		}
	}
}

/*----------Contact style----------*/
.banner-contact {
	background: url(../images/about_1.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 500px;
	margin-bottom: 1em;
}

.contact {
	margin-top: 5em;
	margin-bottom: 5em;

	h2 {
		font-weight: 400;
		letter-spacing: 1px;
		margin: 1em 0;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 2em;

		@media (min-width: 992px) {
			grid-template-columns: 3fr 2fr;
		}
	}

	&__form {
		padding: 1em 1.5em;
		border: 1px solid #f0f0f0;

		@media (min-width: 992px) {
			padding: 1.5em 2.5em;
		}

		label {
			display: block;
			margin: 1em 0;
			color: rgba(0,0,0,0.7);

			span {
				color: #f00;
				margin-left: 0.2em;
			}
		}

		&__name {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			grid-column-gap: 1em;
		}

		input, textarea, button {
			width: 100%;
			padding: 0.7em;
			border: 1px solid #f0f0f0;
			border-radius: 5px;
		}

		button {
			margin-top: 1em;
			background-color: $color-primary;
			color: #fff;
			text-transform: uppercase;
			padding: 1em 0;
		}
	}

	&__address {
		div {
			padding: 1em 1.5em;
			border: 1px solid #f0f0f0;
			margin-bottom: 1em;
		}

		h3 {
			color: $color-primary;
			font-weight: 400;
			text-transform: uppercase;
			font-size: 0.9em;
		}

		address {
			margin: 1em 0;
			color: rgba(0,0,0,0.5);
			font-style: normal;
			font-size: 0.9em;
		}
	}
}

/*----------About style----------*/
.about {
	margin-top: 4em;
	margin-bottom: 6em;

	&__content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 2em;
		margin-bottom: 4em;

		i {
			color: $color-primary;
			margin-bottom: 0.8em;
		}

		h3 {
			margin-bottom: 0.8em;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 1em;
		}

		p {
			color: #8c92a0;
		}

		&__itens {
			display: grid;

			@media (min-width: 992px) {
				grid-template-columns: 1fr 4fr;
			}
		}
	}

	&__start {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 2em 5em;

		img {
			border-radius: 5px;
		}

		h2 {
			font-weight: 400;
			font-size: 1.8em;
			text-transform: capitalize;
			margin-bottom: 1.5em;
		}

		p {
			margin-bottom: 1em;
			color: #8c92a0;
		}
	}
}

.team {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 5em;

	h2 {		
		font-weight: 400;
		margin-bottom: 2em;
		font-size: 1.8em;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 1em;

		img {
			width: 120px;
			height: 120px;
			border-radius: 50%;
			margin-bottom: 1em;
		}

		h3 {
			font-weight: 400;
			font-size: 1.4em;
			margin-bottom: 0.4em;
		}

		span {
			color: #ccc;
		}

		p {
			margin: 1em 0;
			color: #8c92a0;
			font-size: 0.9em;
		}
	}
}

/*----------Checkout style----------*/
.checkout {
	margin-bottom: 4em;
	margin-top: 3em;

	&__return {
		border: 1px solid #dee2e6;
		border-radius: 5px;
		padding: 1.5em 2em;
		margin-bottom: 3em;  

		p {
			color: #8c92a0;
		}

		a {
			color: $color-primary;
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		grid-gap: 1.5em;

		h3 {
			font-weight: 400;
			font-size: 1.4em;
			letter-spacing: 0.5px;
		}
	}

	&__itens {
		border: 1px solid #dee2e6;
		border-radius: 5px;
		padding: 1.5em 2em;
		margin: 1em 0;


		label {
			display: block;
			margin: 1em 0;
			color: rgba(0,0,0,0.7);

			span {
				color: #f00;
				margin-left: 0.2em;
			}
		}

		&__name {
			display: grid;			
			grid-column-gap: 1em;

			@media (min-width: 992px) {
				grid-template-columns: 1fr 1fr;
			}
		}

		input, textarea, select {
			width: 100%;
			padding: 0.7em;
			border: 1px solid #dee2e6;
			border-radius: 5px;
		}

		textarea {
			resize: none;
		}

		.code {
			position: relative;
			margin-top: 1em;

			button {
				position: absolute;
				right: 0;
				background-color: $color-primary;
				color: #fff;
				padding: 0.7em 1.5em;
				border: 1px solid $color-primary;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				text-transform: uppercase;
				cursor: pointer;
			}
		}

		&.table {
			table {
				width: 100%;
				border-collapse: collapse;

				th, td {
					text-align: left;			
					padding: 0.8em 0;
				}

				td {
					border-top: 1px solid #dee2e6;
				}	

				tr:last-child {
					font-weight: bold;
				}		
			}

			div {
				a {
					display: block;
					color: $color-primary;
					padding: 1em 1.2em;
					text-transform: capitalize;
					border: 1px solid #dee2e6;
					margin: 2em 0;

					&:hover {
						color: #ef4266;
					}
				}
			}

			button {
				width: 100%;
				color: #fff;
				text-transform: uppercase;
				padding: 1em 0;
				background-color: $color-primary;
				border: none;
				border-radius: 5px;
			}
		}
	}
}

/*----------Cart style----------*/
.cart {
	margin-top: 3rem;
	margin-bottom: 6rem;
	
	&__table {
		overflow-x: auto;

		table {
			border-collapse: collapse;
			width: 100%;
			margin: 1em 0;
			text-align: center;

			img {
				max-width: 150px;
			}

			th, td {
				padding: 1.5em;
				border: 1px solid #dee2e6;
				text-align: center;
			}

			a {
				display: inline-block;
				padding: 0.2em 0.5em;
				color: #fff;
				background-color: $color-primary;
				border-radius: 2px;

				&:hover {
					background-color: #ef4266;
				}
			}

			.table-btn {
				position: relative;
				max-width: 120px;
				left: 50%;
				transform: translateX(-50%);

				button {
					border: 1px solid $color-primary;
					color: $color-primary;
					background-color: #fff;
					cursor: pointer;
					transition: .2s ease-in-out;
					position: absolute;
					top: 0;
					bottom: 0;
					padding: 0 1em;

					&:hover {
						color: #fff;
						background-color: $color-primary;
					}
				}

				button:first-child {
					left: 0;
				}

				button:last-child {
					right: 0;
				}

				input {
					padding: 1em;
					text-align: center;
					max-width: 120px;
					border: 1px solid #dee2e6;
				}
			}
		}
	}

	&__total {
		display: grid;		
		grid-gap: 1em 5em;
		margin: 2em 0;

		@media (min-width: 992px) {
			grid-template-columns: 3fr 2fr;
		}

		h3 {
			font-weight: 400;
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}

		button, a {
			background-color: $color-primary;
			color: #fff;
			padding: 1rem;
			border: none;
			border-radius: 5px;
			text-transform: uppercase;
			font-size: 0.8rem;
			cursor: pointer;
			transition: .2s ease-in-out;
			border: 1px solid $color-primary;

			&:hover {
				background-color: #ef4266;
			}
		}

		.total-btn {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			grid-gap: 1em;
			margin-bottom: 2em;

			button:last-child {
				background-color: #fff;
				color: $color-primary;

				&:hover {
					background-color: $color-primary;
					color: #fff;
				}
			}
		}

		.total-coupon {
			p {
				color: #8c92a0;
			}

			input {
				width: 100%;
				padding: 1em;
				border: 1px solid #dee2e6;
				border-radius: 5px;
				margin: 1rem 0;
			}
		}

		.total-check {
			h3 {
				text-align: right;
				border-bottom: 1px solid #ccc;
				padding: 1rem 0;
			}

			p {
				margin: 2rem 0;
				position: relative;

				span {
					position: absolute;
					right: 0;
				}
			}

			a {
				display: block;
				margin: 1rem 0;
			}
		}
	}
}

/*----------Login/Register style----------*/
.login {
	margin-top: 5rem;
	margin-bottom: 5rem;
	
	@media (min-width: 992px) {
		width: 650px;
	}	

	h2 {
		text-align: center;
		font-size: 1.8rem;
		margin: 2rem 0;
	}

	label {
		display: block;
		margin: 1rem 0;
	}

	input {
		width: 100%;
		padding: 1rem;
		border-radius: 5px;
		border: 1px solid #dee2e6;
	}

	input[type=checkbox] {
		width: auto;
		margin-right: 0.5rem;
	}

	div {
		margin: 1.5rem 0;
		display: flex;
		justify-content: space-between;

		a {
			color: #000;
			margin: 1rem 0;
		}
	}

	&__sign {
		width: 100%;
		display: block;
		text-align: center;
		padding: 1rem;
		background-color: $color-primary;
		color: #fff;
		border-radius: 5px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
		margin-top: 2rem;
	}

	&__link {
		text-align: center;
		text-decoration: underline;
		text-transform: uppercase;
		display: block;
		margin: 1.5rem 0;
		color: #000;
	}
}