@import "_site-base";

.container {
	padding: 0 2vw;
	margin: 0 auto;

	@media (min-width: 576px) {
		max-width: 540px;
	}
	@media (min-width: 768px) {
		max-width: 740px;
	}
	@media (min-width: 992px) {
		max-width: 960px;
	}
	@media (min-width: 1200px) {
		max-width: 1180px;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	height: 4em;
	line-height: 4em;

	@media (min-width: 992px) {
		height: 6em;
		line-height: 6em;
	}

	h1 {
		font-size: 1.4em;
	}

	h1 a {
		text-transform: uppercase;
		letter-spacing: 2px;
		border: 2px solid rgba(0,0,0,0.7);
		padding: 0.2em 0.5em;
		color: rgba(0,0,0,0.5);
		font-weight: 400;
	}

	&__icons {
		a{
			color: #868995;
			margin: 0 0.2em;

			&:hover {
				color: #3d3f45;
			}
		}

		@media (min-width: 992px) {
			button {
				display: none;
			}
		}
		.bag {
			position: relative;

			span {
				position: absolute;
				top: -10px;
				right: -15px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				line-height: 20px;
				text-align: center;
				color: #fff;
				font-size: 12px;
				background: $color-primary;
			}
		}

		button {
			margin-left: 1.5em;
			border: none;
			background-color: transparent;
			cursor: pointer;
			font-size: 1.1em;
			color: #868995;

			&:hover {
				color: #3d3f45;
			}
		}
	}
	
	&__navbar {
		display: none;

		@media (min-width: 992px) {
			display: block;
		}

		a {
			color: rgba(0,0,0,0.7);
			text-transform: uppercase;
			margin: 0 0.2em;
			letter-spacing: 1px;
			padding: 0.5em;
			font-size: 0.8em;

			&:hover, &.actived  {
				color: $color-primary;
			}
		}

		.dropdown {
			display: none;
		}

		ul {
			display: flex;
		}
	}
}

.banner {
	background-color: #f9f9f9;
	text-align: center;	
	padding-top: 3em;	
	margin-bottom: 3em;

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 2em;
		overflow: hidden;
	}

	&__img {
		max-height: 600px;

		@media (min-width: 768px) {
			order: 1;
			max-height: 700px;
		}

		img {
			max-width: 100%;
		}
	}

	&__content {
		text-transform: uppercase;
		align-self: center;	

		@media (min-width: 768px) {
			order: 2;
		}

		h1 {
			color: #000;
			font-size: 3em;	
			margin-bottom: 0.5em;	
			line-height: 1.4em;	
		}

		h2 {
			font-size: 1em;
			color: rgba(0,0,0,0.6);
		}

		a {
			color: #fff;
			font-size: 0.8em;
			padding: 1em 2em;
			background-color: #000;
		}
	}
}

.title {
	margin: 3em 0;
	padding-left: 1em;
	border-left: 4px solid $color-primary;

	h2 {
		color: #000;
		font-size: 2em;
		letter-spacing: 1px;
		line-height: 1.2em;
		text-transform: uppercase;
		font-weight: 400;
	}

	span {
		display: block;
	}
}

.discover {
	padding-bottom: 4em;

	&__container {
		display: grid;
		grid-gap: 1.5em;

		@media (min-width: 768px) {
			grid-template-columns: 2fr 1fr;
		}
	}

	&__itens {
		background-color: #f9f9f9;
		max-height: 290px;
		overflow: hidden;
		position: relative;
		text-align: center;

		&:nth-child(2) {
			margin-top: 20px;
		}

		a {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #000;
			background-color: #fff;
			padding: 1em 2em;
			transform: translate(-50%, -50%);
			transition: .2s ease-in-out;

			small {
				color: #ced4da;
				font-size: 0.7em;
				margin-left: 5px;
			}

			&:hover {
				color: #fff;
				background-color: #000;
			}
		}
	}

	&__women {
		@media (min-width: 768px) {
			max-height: 600px;

			img {
				max-width: 300px;
				margin-top: 4em;
			}
		}
	}
}

.popular, .rated {
	padding-bottom: 4em;

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 2em;

		h2 {
			font-size: 1.1em;
			color: rgba(0,0,0,0.7);
			font-weight: 400;
			margin-top: 1em;
		}

		p {
			font-size: 0.9em;
			font-weight: bold;
			color: #000;
			margin: 0.2em 0;

			span {
				margin-right: 0.5em;
				text-decoration: line-through;
				color: #ccc;
			}
		}

		i {
			font-size: 0.7em;
			color: #ffc107;
		}
	}

	&__itens {
		a {
			overflow: hidden;
			position: relative;
			height: 400px;
			display: block;
			background-color: #f9f9f9;
		}

		img {	
			max-width: 300px;
			position: absolute;
			top: 15%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.rated {
	overflow: hidden;
	position: relative;

	&__container {
		width: 500%;
		display: block;
		position: relative;
		left: 0;
		padding-bottom: 4em;
	}

	&__itens {
		width: 18%;
		float: left;
		margin: 0 1%;

		@media (min-width: 992px) {
			width: 8.5%;
		}
	}

	&__btn {
		position: absolute;
		bottom: 1em;
		left: 50%;
		transform: translate(-50%, 0);

		button {
			font-size: 1.6em;
			background-color: transparent;
			border: none;
			cursor: pointer;
			margin: 0 0.5em;
			padding: 1em;
		}
	}
}

.footer {
	&__container {
		display: grid;
		grid-gap: 2em;

		@media (min-width: 768px) {
			grid-template-columns: 1fr 2fr 1fr;
		}

		h3 {
			letter-spacing: 2px;
			text-transform: uppercase;
			font-size: 0.9em;
			color: rgba(0,0,0,0.7);
			margin-bottom: 2em;
			font-weight: 400;
		}
	}

	&__content {
		img {
			border-radius: 10px;
		}

		a {
			h3 {
				margin-top: 1em;
				margin-bottom: 0;
				letter-spacing: 0;
				color: $color-primary;
				text-transform: capitalize;
				font-size: 1.1em;
			}

			p {
				font-size: 0.9em;
				color: rgba(0,0,0,0.7);
			}
		}
	}

	&__links {	
		li {
			margin: 1em 0;

			a {
				color: rgba(0,0,0,0.7);
				font-size: 0.9em;

				&:hover {
					color: $color-primary;
				}
			}
		}

		&__grid {
			display: grid;
			
			@media (min-width: 768px) {
				grid-template-columns: repeat(3, 1fr);

				ul {

					text-align: center;
				}
			}
		}
	}

	&__contact {
		div {
			margin: 1em 0;
		}

		i {
			color: $color-primary;
			margin-right: 1em;
		}

		address {
			display: inline-block;
			font-size: 0.9em;
		}

		&__form {
			position: relative;

			input[type=email] {
				width: 100%;
				padding: 0.8em 0.5em;
				border-radius: 5px;
				border: 1px solid #ddd;
				font-size: 1.1em;
			}

			input[type=submit] {
				position: absolute;
				padding: 1em 2em;
				right: 5px;
				top: 50%;
				transform: translateY(-50%);
				background-color: $color-primary;
				border: 1px solid $color-primary;
				border-radius: 5px;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 1px;
				cursor: pointer;
			}
		}
	}

	&__copy {
		text-align: center;
		margin: 5em 0;
	}
}