.page {
  &__inner {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 576px) {
      & {
        max-width: 520px;
      }
    }
    
    @media (min-width: 768px) {
      & {
        max-width: 720px;
      }
    }
    
    @media (min-width: 992px) {
      & {
        max-width: 940px;
      }
    }
    
    @media (min-width: 1200px) {
      & {
        max-width: 1120px;
      }
    }
  }

  &--center {
    text-align: center;
  }
  
  &__section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

}