.banner {
  background-color: #f9f9f9;
  overflow: hidden;
  text-align: center;
  padding-top: 4rem;

  &__contact {
    background-image: url(../../images/about_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
  }

  &__content {
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: .5px;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      order: 2;
    }
  }
  
  &__title {
    font-size: 2.8rem;
    padding-bottom: 2rem;
  }

  &__sub {
    font-size: 1rem;
    color: rgba(0,0,0,0.6);
  }

  &__img {
    max-height: 500px;

    @media (min-width: 768px) {
      order: 1;
    }
  }
}