.dropdown {
  display: none;

  &__link {
    padding: .6rem 2.5rem;
    font-size: .9rem;

    &--sub {
      padding-left: 3.5rem;
    }

    @media (min-width: 768px) {
      padding: 0;
      line-height: 1rem;
      padding: .5rem;
    }
  }

  @media (min-width: 768px) {
    position: absolute;
    top: 100%;
    background: #fff;
    border-top: 2px solid $color-primary;
  }
}