.product {
  
  &__link {
    position: relative;
    background-color: #f9f9f9;
    display: block;
    overflow: hidden;
  }

  &__img {
    height: 300px;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &__name {
    color: rgba($color: #000, $alpha: .7);
    letter-spacing: .3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }

  &__price {
    font-weight: bold;

    &--sale {
      text-decoration: line-through;
      color: rgb(189, 187, 187);
      margin-right: .5rem;
    }
  }

  &__star {
    margin-top: 1rem;
    font-size: 0.7em;
    color: #ffc107;
  }
}