.title {
  padding-bottom: 4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  
  &__text {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    border-left: 5px solid $color-primary;
    font-size: 2rem;
    font-weight: normal;
  }

  &__sub {
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 2rem;
    letter-spacing: .5px;

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
      border-bottom: 2px solid #ddd;
      padding-bottom: 1rem;
    }
  }

  &__lines {
    color: rgba($color: #000, $alpha: .6);
    margin-bottom: 1rem;
  }
}